main {
	color: aliceblue;
	text-align: center;
}

.task-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	color: aliceblue;
	background-color: rgb(84, 84, 84);
}
