.task-card {
	height: auto;
	width: 70%;
}

.task-card-container {
	border: 4px solid black;
	background-color: red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.task-card-container svg {
	width: 20px;
}

.task-card-container svg:hover {
	cursor: pointer;
}

.task-card-txt {
	display: flex;
	justify-content: center;
	align-items: center;
}
